//Colors

$br-color-primary-color: #116acc;
$br-color-secondary1: #182233;
$br-color-secondary2: #b3cee2;
$br-color-secondary3: #d9dde7;
$br-color-secondary4: #fd4e5d;
$br-color-white: #ffffff;
$gr-color-black: #000000;
$gr-color-gray1: #1f2937;
$gr-color-gray2: #374151;
$gr-color-gray3: #4b5563;
$gr-color-gray4: #6b7280;
$gr-color-gray5: #9ca3af;
$st-color-info: #a0c3ff;
$st-color-success: #76ca66;
$st-color-warning: #fbc756;
$st-color-error: #ba0000;
