@mixin u_700_32 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
}

@mixin u_500_32 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
}

@mixin u_400_24 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

@mixin u_500_20 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

@mixin u_500_22 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@mixin u_400_18 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@mixin u_700_16 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

@mixin u_500_16 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

@mixin u_400_16 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@mixin u_300_16 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

@mixin u_500_145 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

@mixin u_400_14 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@mixin u_600_20 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}

@mixin u_500_13 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

@mixin u_400_13 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

@mixin w_700_34 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
}

@mixin w_700_13 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
}

@mixin w_400_34 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}

@mixin u_700_20 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

@mixin u_400_20 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
