@import "../addits/colors";
@import "../addits/text";
@import "../addits/buttons";

.bankMap__container {
  position: relative;
  padding: 50px 50px 0 50px;
}

.bankMap__divTop {
  display: flex;
  align-items: center;
  animation-name: cardAdd;
  animation-duration: 0.5s;
  animation-direction: alternate;
}

.bankMap__divBot {
  position: relative;
  min-height: 756px;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.bankMap__title {
  @include w_700_34;
  margin-bottom: 55px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.marker {
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 49 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_9736_270)'%3E%3Cpath d='M44.9287 0H4.08092C1.83304 0 0 2.39417 0 5.33018V38.9998C0 41.9358 1.83304 44.33 4.08092 44.33H6.04902V62.2233C6.04902 63.2061 6.65682 64 7.40933 64H41.5907C42.3432 64 42.951 63.2061 42.951 62.2233V44.33H44.9191C47.167 44.33 49 41.9358 49 38.9998V5.33018C49.0096 2.39417 47.1766 0 44.9287 0ZM8.76964 60.4591V35.1691H40.2304V60.4591H8.76964ZM44.9287 40.7765H42.9606V35.1565H43.086C43.8385 35.1565 44.4463 34.3627 44.4463 33.3798C44.4463 32.3969 43.8385 31.6031 43.086 31.6031H5.92361C5.1711 31.6031 4.5633 32.3969 4.5633 33.3798C4.5633 34.3627 5.1711 35.1565 5.92361 35.1565H6.04902V40.7765H4.08092C3.32841 40.7765 2.72061 39.9827 2.72061 38.9998V5.33018C2.72061 4.34731 3.32841 3.55346 4.08092 3.55346H44.9191C45.6716 3.55346 46.2794 4.34731 46.2794 5.33018V38.9998H46.289C46.289 39.9827 45.6812 40.7765 44.9287 40.7765Z' fill='black'/%3E%3Cpath d='M24.1772 6.71628H6.50289C5.75038 6.71628 5.14258 7.51014 5.14258 8.49301V25.9453C5.14258 26.9281 5.75038 27.722 6.50289 27.722H24.1772C24.9297 27.722 25.5375 26.9281 25.5375 25.9453V8.49301C25.5375 7.51014 24.9297 6.71628 24.1772 6.71628ZM22.8169 24.1685H7.86319V10.2697H22.8169V24.1685Z' fill='black'/%3E%3Cpath d='M31.0173 8.71982H30.6025C29.85 8.71982 29.2422 9.51368 29.2422 10.4965C29.2422 11.4794 29.85 12.2733 30.6025 12.2733H31.0173C31.7698 12.2733 32.3776 11.4794 32.3776 10.4965C32.3776 9.51368 31.7698 8.71982 31.0173 8.71982Z' fill='black'/%3E%3Cpath d='M36.1589 8.71982H35.7441C34.9916 8.71982 34.3838 9.51368 34.3838 10.4965C34.3838 11.4794 34.9916 12.2733 35.7441 12.2733H36.1589C36.9115 12.2733 37.5192 11.4794 37.5192 10.4965C37.5192 9.51368 36.9115 8.71982 36.1589 8.71982Z' fill='black'/%3E%3Cpath d='M41.3014 8.71982H40.8769C40.1244 8.71982 39.5166 9.51368 39.5166 10.4965C39.5166 11.4794 40.1244 12.2733 40.8769 12.2733H41.3014C42.0539 12.2733 42.6617 11.4794 42.6617 10.4965C42.6617 9.51368 42.0539 8.71982 41.3014 8.71982Z' fill='black'/%3E%3Cpath d='M31.0173 22.1524H30.6025C29.85 22.1524 29.2422 22.9463 29.2422 23.9291C29.2422 24.912 29.85 25.7059 30.6025 25.7059H31.0173C31.7698 25.7059 32.3776 24.912 32.3776 23.9291C32.3776 22.9463 31.7698 22.1524 31.0173 22.1524Z' fill='black'/%3E%3Cpath d='M36.1589 22.1524H35.7441C34.9916 22.1524 34.3838 22.9463 34.3838 23.9291C34.3838 24.912 34.9916 25.7059 35.7441 25.7059H36.1589C36.9115 25.7059 37.5192 24.912 37.5192 23.9291C37.5192 22.9463 36.9115 22.1524 36.1589 22.1524Z' fill='black'/%3E%3Cpath d='M41.3014 22.1524H40.8769C40.1244 22.1524 39.5166 22.9463 39.5166 23.9291C39.5166 24.912 40.1244 25.7059 40.8769 25.7059H41.3014C42.0539 25.7059 42.6617 24.912 42.6617 23.9291C42.6617 22.9463 42.0539 22.1524 41.3014 22.1524Z' fill='black'/%3E%3Cpath d='M31.0173 15.4361H30.6025C29.85 15.4361 29.2422 16.23 29.2422 17.2128C29.2422 18.1957 29.85 18.9896 30.6025 18.9896H31.0173C31.7698 18.9896 32.3776 18.1957 32.3776 17.2128C32.3776 16.23 31.7698 15.4361 31.0173 15.4361Z' fill='black'/%3E%3Cpath d='M36.1589 15.4361H35.7441C34.9916 15.4361 34.3838 16.23 34.3838 17.2128C34.3838 18.1957 34.9916 18.9896 35.7441 18.9896H36.1589C36.9115 18.9896 37.5192 18.1957 37.5192 17.2128C37.5192 16.23 36.9115 15.4361 36.1589 15.4361Z' fill='black'/%3E%3Cpath d='M41.3014 15.4361H40.8769C40.1244 15.4361 39.5166 16.23 39.5166 17.2128C39.5166 18.1957 40.1244 18.9896 40.8769 18.9896H41.3014C42.0539 18.9896 42.6617 18.1957 42.6617 17.2128C42.6714 16.23 42.0539 15.4361 41.3014 15.4361Z' fill='black'/%3E%3Cpath d='M24.5142 46.0311C23.8485 46.0311 23.3083 45.3254 23.3083 44.456C23.3083 43.5865 23.8485 42.8809 24.5142 42.8809C25.1799 42.8809 25.7202 43.5865 25.7202 44.456C25.7202 45.4389 26.328 46.2327 27.0805 46.2327C27.833 46.2327 28.4408 45.4389 28.4408 44.456C28.4408 42.2508 27.3699 40.3733 25.8649 39.6424V38.773C25.8649 37.7901 25.2571 36.9962 24.5046 36.9962C23.7521 36.9962 23.1443 37.7901 23.1443 38.773V39.6424C21.6489 40.3733 20.5684 42.2508 20.5684 44.456C20.5684 47.2912 22.3339 49.5972 24.5046 49.5972C25.1702 49.5972 25.7105 50.3028 25.7105 51.1723C25.7105 52.0417 25.1702 52.7474 24.5046 52.7474C23.8389 52.7474 23.2986 52.0417 23.2986 51.1723C23.2986 50.1894 22.6908 49.3955 21.9383 49.3955C21.1858 49.3955 20.578 50.1894 20.578 51.1723C20.578 53.3774 21.6489 55.255 23.1539 55.9858V56.8553C23.1539 57.8381 23.7617 58.632 24.5142 58.632C25.2667 58.632 25.8745 57.8381 25.8745 56.8553V55.9858C27.3699 55.255 28.4504 53.3774 28.4504 51.1723C28.4504 48.3371 26.6849 46.0311 24.5142 46.0311Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_9736_270'%3E%3Crect width='49' height='64' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-color: #76ca66;
  box-shadow: 0 0 10px rgba(255, 125, 0, 1), 0 0 20px 5px rgba(255, 175, 0, 0.8),
    0 0 30px 15px rgba(255, 225, 0, 0.5);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-close-button {
  @include w_700_34;
  margin-right: 10px;
}
.mapboxgl-popup-content {
  padding: 50px;
}
.mapboxgl-popup-content > h3 {
  text-align: center;
  @include w_700_34;
}

.mapboxgl-popup-content > p {
  text-align: center;
  @include u_400_24;
}

.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}
.mapboxgl-ctrl-geocoder > input {
  width: 100%;
  padding: 20px;
  outline: none;
  border: none;
}
