@import '../addits/colors';
@import '../addits/buttons';
@import '../addits/text';

.header_nav {
    display: flex;
    justify-content: space-between;
    max-height: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px 50px 25px 50px;
    background-color: $br-color-primary-color;
    // animation-name: headerOpen;
    // animation-duration: .3s;
    // animation-direction:alternate;
}

// @keyframes headerOpen {
//     from {
//         opacity: 1;
//     }
//     to {
//         opacity: 0;
//     }
// }

.header__all-btn {
    display: flex;
    justify-content: space-between;
}

.header-btn {
    @include btn_normal(16px, '', 'blue');
    @include  u_500_16;
}

.header-btn:not(:last-child) {
    margin-right: 25px;
}

.header__divProfile {
    position: absolute;
    top: 0;
    left: 500px;
    width: 92px;
    height: 92px;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 50%;
}

.header__profileImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 92px;
    height: 92px;
    object-fit: cover;
    transform-origin: top left;
}


