@import "../addits/colors";
@import "../addits/text";
@import "../addits/buttons";
@import "../addits/dropdown";

.listCard__main {
  padding: 0 50px;
}

.listCard-nav__header {
  display: flex;
  align-items: center;
  animation-name: cardAdd;
  animation-duration: .5s;
  animation-direction:alternate;
}

.listCard-nav__title {
  @include w_700_34;
}

.listCard-dropdown {
  @include dropdown;
}

.listCard-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  @include u_500_16;
  @include btn_normal(16px, "p", "");
  margin-left: auto;
}

.listCard-btn > svg {
  margin-right: 10px;
}

.listCard-cardList {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 356px;
  padding: 22px;
  margin-bottom: 50px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  animation-name: cardAdd;
  animation-duration: .5s;
  animation-direction:alternate;
}

.card:not(:nth-child(3n)) {
  margin-right: 70px;
}

.card__account {
  width: 100%;
  @include u_500_22;
  margin-bottom: 9px;
}

.card__balance {
  width: 100%;
  @include u_400_14;
  margin-bottom: 9px;
}

.card__lastTrans {
  @include w_700_13;
}

.card__lastTrans-text {
  @include u_400_13;
}

.card__btn {
  @include btn_normal(16px, "p", "");
  margin-left: auto;
}

@media(min-width: 1600px) {
  .listCard-cardList {
    justify-content: center;
  }
  .card:not(:nth-child(3n)) {
    margin-right: 70px;
  }
 .card:not(:nth-child(7n)) {
  margin-right: 70px;
 }
 
}