@import "../addits/colors";
@import "../addits/text";
@import "../addits/buttons";
@import "../addits/dropdown";

.listCard__main {
  padding: 0 50px;
  padding-top: 40px;
}

.listCard-nav__header {
  display: flex;
  align-items: center;
  animation-name: cardAdd;
  animation-duration: 0.5s;
  animation-direction: alternate;
}

.listCard-nav__title {
  @include w_700_34;
  margin-right: 25px;
}

.listCard-dropdown {
  @include dropdown;
}

.listCard-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  @include u_500_16;
  @include btn_normal(16px, "p", "");
  margin-left: auto;
}

.listCard-btn > svg {
  margin-right: 10px;
}

.listCard-cardList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 356px;
  padding: 22px;
  margin-bottom: 50px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  animation-name: cardAdd;
  animation-duration: 0.5s;
  animation-direction: alternate;
  transition: box-shadow .3s ease-in-out;
}

.card:not(:nth-child(3n)) {
  margin-right: 70px;
}

.card__account {
  width: 100%;
  @include u_500_22;
  margin-bottom: 9px;
}

.card__balance {
  width: 100%;
  @include u_400_14;
  margin-bottom: 9px;
}

.card__lastTrans {
  @include w_700_13;
}

.card__lastTrans-text {
  @include u_400_13;
}

.card__btn {
  @include btn_normal(16px, "p", "");
  margin-left: auto;
}

.card__btn:hover .card {
  background-color: red;
}

.listCard__btn--delete {
  @include btn_normal(16px, 's', '');
  margin-left: auto;
}

.listCard__btn--delete:hover {
  color: #BA0000;
  background-color: white;
}
@media (min-width: 1600px) {
  .listCard-cardList {
   margin-left: 10%;
  }
  .card:not(:nth-child(3n)) {
    margin-right: 100px;
  }
  // .card:not(:nth-child(7n)) {
  //   margin-right: 70px;
  // }
}

.card--hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: all .3s ease-in-out;
}
