// fonts
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@700&display=swap");
@import "../../../node_modules/custom-select/build/custom-select.css";

//blocks
@import "./blocks/header";
@import "./blocks/entry";
@import "./blocks/profile";
@import "./blocks/listcard";
@import "./blocks/lookCard";
@import "./blocks/storybalance";
@import "./blocks/cardtransfer";
@import "./blocks/valuts";
@import "./blocks/bankmap";
@import "./blocks/error";

body {
  position: relative;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

h1,
p,
h2 {
  margin: 0;
  padding: 0;
}

input {
  outline: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

button {
  padding: 0;
  border: 0;
}
.custom-select-container {
  width: 300px;
}
.custom-select-container:has(.transferValuts__from, .transferValuts__to) {
  @include u_400_16;
  width: 149px;
  color: #374151;
}

.custom-select-opener {
  white-space: nowrap;
  height: 2.3em;
  margin-top: 0.5em;
  // margin-bottom: 1em;
  border-radius: 5px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"><path d="M0 0.5L5 5.5L10 0.5H0Z" fill="%23182233"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: white;
  border: 1px solid #9ca3af;
}
.custom-select-container.is-open .custom-select-panel:first-child {
  display: none;
}

.is-open .custom-select-opener {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9519 5.5L5.9519 0.5L0.951904 5.5L10.9519 5.5Z' fill='%23182233'/%3E%3C/svg%3E%0A");
}

.custom-select-opener:focus {
  outline: none;
  border-color: #116acc;
}

.custom-select-opener span {
  text-overflow: ellipsis;
  display: block;
}

.custom-select-option {
  background-color: white;
}
.custom-select-container:has(.listCard-dropdown)
  .custom-select-option:nth-child(1) {
  display: none;
}
.custom-select-option.has-focus {
  background-color: #a0c3ff;
}
.custom-select-option:hover {
  cursor: pointer;
  background-color: #a0c3ff;
}
.custom-select-panel {
  border-radius: 5px;
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));
}
.custom-select-option.is-selected::before {
  display: none;
}
.custom-select-option.is-selected::after {
  content: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00003 11.17L1.83003 7.00003L0.410034 8.41003L6.00003 14L18 2.00003L16.59 0.590027L6.00003 11.17Z' fill='%23182233'/%3E%3C/svg%3E ");
  position: absolute;
  right: 20px;
}
.custom-select-panel::-webkit-scrollbar {
  display: none;
}

.bottom__icon {
  position: absolute;
  right: 20px;
  top: 15px;
}

//error

.warningMain {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: -244px;
  width: 220px;
}

.text-warning {
  @include u_500_16;
  color: #ba0000;
}

.btn--lock {
  pointer-events: none;
  opacity: .5;
}

.successMain {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: -180px;
  width: 150px;
}

.text--success {
  @include u_500_16;
  color: #76CA66;
}

@keyframes bye {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

@keyframes hello {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cardAdd {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}
